
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div> 

        <div class="container">
            <h3>訂單查詢</h3>
            <table class="table table-bordered">
                @*<tr>
                    <td>訂單編號</td>
                    <td colspan="3">
                        @Html.TextBox(" ")
                    </td>

                </tr>*@
                <tr style="border-style: solid;">
                    <td>客戶名稱</td>
                    <td colspan="3">
                        @Html.TextBox(" ")
                    </td>
                </tr>
                <tr>
                    <td>負責員工</td>
                    <td colspan="3">
                        @Html.DropDownList("EmpName", (List<SelectListItem>)ViewBag.EmpName)
                        @*  @Html.DropDownListFor(model => model.EmpId, (List<SelectListItem>)ViewBag.EmpCodeData)*@
                    </td>
                </tr>
                @*<tr>
                    <td>出貨公司</td>
                    <td colspan="3">
                        @Html.DropDownList("custData", (List<SelectListItem>)ViewBag.custData)
                        @Html.DropDownListFor(model => model.EmpId, (List<SelectListItem>)ViewBag.EmpCodeData)
                    </td>
                </tr>
                <tr>
                    <td>訂購日期</td>
                    <td>
                        <input type="date">
                        @Html.TextBox(" ",new { @type="data"})
                        @Html.TextBoxFor(model => model.OrderDate, new { @type = "date" })
                    </td>
                    <td>出貨日期</td>
                    <td>
                        <input type="date">
                        @Html.TextBoxFor(model => model.OrderDate, new { @type = "date" })
                    </td>
                    
                </tr>*@
                @*<tr>
                    <td>需要日期</td>
                    <td colspan="3">
                       @Html.TextBox(" ")
                        @Html.DropDownListFor(model => model.EmpId, (List<SelectListItem>)ViewBag.EmpCodeData)
                    </td>
                </tr>*@

                <tr>
                    <td></td>
                    <td colspan="3">
                        <input type="submit" value="查詢" />
                        <input type="button" value="清除" />
                        @*@Html.ActionLink("新增訂單", "InsertOrder")*@
                        <input type="button" value="新增訂單" />
                    </td>

                </tr>
            </table>
        </div>

    </div>
</body>
</html>
