@model MyProject_D20170331.Models.Orders

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>

    <meta name="viewport" content="width=device-width" />
    <title>QueryOrder</title>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery-1.9.1.min.js"></script>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />

    <script src="~/Scripts/jquery-tablepage-1.0.js"></script>

    <!--kendo-->
    <link href="~/kendo/styles/kendo.common.min.css" rel="stylesheet" />
    <link href="~/kendo/styles/kendo.flat.min.css" rel="stylesheet" />

    <script src="~/kendo/js/kendo.all.min.js"></script>


    <style>
        .demo-section p {
            margin: 3px 0 20px;
            line-height: 50px;
        }

        .demo-section .k-button {
            width: 250px;
        }

        .k-notification {
            border: 0;
        }



        /* Error template */
        .k-notification-error.k-group {
            background: rgba(100%,0%,0%,.7);
            color: #ffffff;
        }

        .wrong-pass {
            width: 200px;
            height: 60px;
        }

        .wrong-pass h3 {   
            font-size: 1.5em;
            padding: 10px 20px 0px 20px;
        }


    </style>



</head>
<body>

<div>
    @*<header style="background-color:black; height:50px;"></header>*@
    <div class="container">

        <div style="background-color:black;color:white;font-size:32px;margin-top:20px;border-radius:10px 10px 0px 0px;">
             <span style="padding:10px">訂單查詢</span>
        </div>
        <table class="table table-bordered">
            <tr>
                <td><b>訂單編號</b></td>
                <td colspan="3">
                    <input id="OrderId" style="border-color:#10c4b2" />
                    @*@Html.TextBox("OrderId")*@
                </td>
            </tr>
            <tr>
                <td><b>客戶名稱</b></td>
                <td colspan="3">
                    <input id="CustName" style="border-color:#10c4b2" />
                    @*@Html.TextBox("CustName")*@
                </td>
            </tr>
            <tr>
                <td><b>負責員工</b></td>
                <td colspan="3">
                    <input id="EmpName" placeholder="-Select-" />
                    @*@Html.DropDownList("EmpName", (List<SelectListItem>)ViewBag.EmpName)*@
                </td>
            </tr>
            <tr>
                <td><b>出貨公司</b></td>
                <td colspan="3">
                    <input id="ShipCompany" placeholder="-Select-" />
                    @*@Html.DropDownList("ShipCompany", (List<SelectListItem>)ViewBag.ShipCompany)*@
                </td>
            </tr>
            <tr>
                <td><b>訂購日期</b></td>
                <td>
                    <input id="orderDate" value="年 / 月 / 日" />
                    @*<input type="date" id="orderDate">*@
                </td>
                <td><b>出貨日期</b></td>
                <td>
                    <input id="shipDate" value="年 / 月 / 日" />
                    @*<input type="date" id="shipDate">*@

                </td>

            </tr>
            <tr>
                <td><b>需要日期</b></td>
                <td colspan="3">
                    <input id="requireDate" value="年 / 月 / 日" />
                    @*<input type="date" id="requireDate">*@
                </td>
            </tr>

            <tr>
                <td></td>
                <td colspan="3">
                    <input id="MyQuery" type="submit" value="查詢" />
                    <input id="MyClean" type="button" value="清除" />
                    <input id="MyInsertOrder" type="button" value="新增訂單" />
                </td>

            </tr>
        </table>

        @*<h3>查詢結果</h3>*@
        <div id="example">
            <span id="notification" style="display:none;"></span>
            <div id="grid"></div>
        </div>
    </div>

</div>


    <div id="window"></div>


        <script type="text/x-kendo-template" id="windowTemplate" >
            <div style="text-align:center; ">
                確定要刪除訂單編號 <strong>#= OrderID #</strong> 嗎? <br><br>
                <button class="k-button" id="yesButton">Yes</button>
                <button class="k-button" id="noButton"> No</button>
            </div>
        </script>

        <script id="errorTemplate" type="text/x-kendo-template">
            <div class="wrong-pass">
                <h3>#= title #</h3>
            </div>
        </script>

<script>
    var windowTemplate = kendo.template($("#windowTemplate").html());
    $(document).ready(function () {
        $("#MyQuery").click(function () {
            $.ajax({
                type: 'post',
                url: '@Url.Action("QueryOrder")',
                data: {
                    OrderID: $('#OrderId').val(),
                    CustomerName: $('#CustName').val(),
                    EmployeeName:$('#EmpName').data("kendoComboBox").text(),
                    ShipCompanyName:$('#ShipCompany').data("kendoComboBox").text(),
                    OrderDate: $('#orderDate').val()=="年 / 月 / 日"?"": $('#orderDate').val(),
                    RequireDate: $('#requireDate').val()=="年 / 月 / 日"?"": $('#requireDate').val(),
                    ShipDate: $('#shipDate').val()=="年 / 月 / 日"?"":$('#shipDate').val()

                },
                success: function (result) {
                    var data = [];
                    $.each(result, function (index, field) {
                        data.push({ OrderID: field.OrderID, CustomerName: field.CustomerName, OrderDate: field.OrderDate, ShippedDate: field.ShippedDate });
                    });
                    GenerateGrid(data);
                },
                error: function () { alert("Error"); }
            });
        });


            //ComboBox-EmpName
            var empName=[];
            var array = @Html.Raw(Json.Encode(@ViewBag.EmpName));
            for(var i = 0; i < array.length; i++) {
                empName.push({text:array[i].Text, value:array[i].Value});
            }
            $("#EmpName").kendoComboBox({
                dataTextField: "text",
                dataValueField: "value",
                dataSource: empName,
                filter: "contains",
                suggest: true,
                index: 0
            });

            //ComboBox-ShipCompany
            var shipCompany=[];
            var array = @Html.Raw(Json.Encode(@ViewBag.ShipCompany));
            for(var i = 0; i < array.length; i++) {
                shipCompany.push({text:array[i].Text, value:array[i].Value});
            }
            $("#ShipCompany").kendoComboBox({
                dataTextField: "text",
                dataValueField: "value",
                dataSource: shipCompany,
                filter: "contains",
                suggest: true,
                index: 0
            });


            //DataPicker
            $("#orderDate").kendoDatePicker({
                format: "yyyy/MM/dd",
                animation: {
                    close: {
                        effects: "fadeOut zoom:out",
                        duration: 300
                    },
                    open: {
                        effects: "fadeIn zoom:in",
                        duration: 300
                    }
                }
            });
            $("#shipDate").kendoDatePicker({
                format: "yyyy/MM/dd",
                animation: {
                    close: {
                        effects: "fadeOut zoom:out",
                        duration: 300
                    },
                    open: {
                        effects: "fadeIn zoom:in",
                        duration: 300
                    }
                }
            });
            $("#requireDate").kendoDatePicker({
                format: "yyyy/MM/dd",
                animation: {
                    close: {
                        effects: "fadeOut zoom:out",
                        duration: 300
                    },
                    open: {
                        effects: "fadeIn zoom:in",
                        duration: 300
                    }
                }
            });


            //button
            $("#MyQuery").kendoButton();
            $("#MyClean").kendoButton();
            $("#MyInsertOrder").kendoButton();

        });
    //---end document ready


        document.getElementById("MyClean").onclick = function () {
            document.getElementById("OrderId").value = "";
            document.getElementById("CustName").value = "";
            document.getElementById("EmpName").selectedIndex = 0;
            document.getElementById("ShipCompany").selectedIndex = 0;
            document.getElementById("orderDate").value = "年 / 月 / 日";
            document.getElementById("requireDate").value = "年 / 月 / 日";
            document.getElementById("shipDate").value = "年 / 月 / 日";
        }

        document.getElementById("MyInsertOrder").onclick = function () {
            location.href = "/Order/InsertOrder";
        }

        var notification = $("#notification").kendoNotification({
            stacking: "top",
            templates: [ {
                type: "error",
                template: $("#errorTemplate").html()
            }]
        }).data("kendoNotification");
    
        $(document).one("kendo:pageUnload", function(){ if (notification) { notification.hide(); } });

        function deleteOrder(orderId) {
                $.ajax({
                    type: 'post',
                    url: '@Url.Action("QueryOrder_Delete")',
                    data: {
                        OrderID: orderId
                    },
                    success: function () {
                        notification.show({
                            title: "Delete Success"
                        }, "error");

                    },
                    error: function () {
                        alert("Delete Error");
                    }
                });
        }

        function updateOrder(thisObject) {
            var index = thisObject.parentNode.parentNode.rowIndex - 1;
            var id = document.getElementsByClassName("orderId_class")[index].innerHTML;

            window.location.href = "@Url.Action("UpdateOrder",new { OrderID="_ID"})".replace("_ID", id);
        }

    
        function GenerateGrid(data)
        {
            // custom logic start
            var dataNextID = data.length + 1;

            function getIndexById(id) {
                var idx,
                    l = data.length;

                for (var j = 0; j < l; j++) {
                    if (data[j].ProductID == id) {
                        return j;
                    }
                }
                return null;
            }
            // custom logic end

                var dataSource = new kendo.data.DataSource({
                    transport: {
                        read: function (e) {
                            // on success
                            e.success(data);
                            // on failure
                            //e.error("XHR response", "status code", "error message");
                        },
                        create: function (e) {
                            // assign an ID to the new item
                            e.data.ProductID = dataNextID++;
                            // save data item to the original datasource
                            data.push(e.data);
                            // on success
                            e.success(e.data);
                            // on failure
                            //e.error("XHR response", "status code", "error message");
                        },
                        update: function (e) {
                            // locate item in original datasource and update it
                            data[getIndexById(e.data.ProductID)] = e.data;
                            // on success
                            e.success();
                            // on failure
                            //e.error("XHR response", "status code", "error message");
                        },
                        destroy: function (e) {
                            // locate item in original datasource and remove it
                            data.splice(getIndexById(e.data.ProductID), 1);
                            // on success
                            e.success();
                            // on failure
                            //e.error("XHR response", "status code", "error message");
                        }
                    },
                    error: function (e) {
                        // handle data operation error
                        alert("Status: " + e.status + "; Error message: " + e.errorThrown);
                    },
                    pageSize: 10,
                    batch: false,
                    schema: {
                        model: {
                            id: "ProductID",
                            fields: {
                                OrderID: { type:"int" },
                                CustomerName: { validation: { required: true } },
                                OrderDate: { type: "date" },
                                ShippedDate: { type: "date" }
                            }
                        }
                    }
                });

                var window = $("#window").kendoWindow({
                    modal: true,
                    title: "訊息",
                    visible: false, 
                    width: "300px",
                    height: "80px",
                }).data("kendoWindow");


              var grid=$("#grid").kendoGrid({
                    dataSource: dataSource,
                    sortable: true,
                    pageable: true,
                    resizable: true,
                    columns: [
                        { field: "OrderID", title: "訂單編號" },
                        { field: "CustomerName", title: "客戶名稱" },
                        { field: "OrderDate", title: "訂購日期", format: "{0:yyyy/MM/dd}" },
                        { field: "ShippedDate", title: "發貨日期", format: "{0:yyyy/MM/dd}" },
                        { command: [{name:"edit"},
                            {name:"Delete",
                                click: function(e){
                                    e.preventDefault();
                                    var tr = $(e.target).closest("tr");
                                    var trData = this.dataItem(tr);
                                    window.content(windowTemplate(trData));
                                    window.center().open();

                                    $("#yesButton").click(function(){
                                        grid.dataSource.remove(trData)
                                        grid.dataSource.sync()

                                        //delete Order
                                        deleteOrder(trData.OrderID);

                                        window.close();
                                    })
                                    $("#noButton").click(function(){
                                        window.close();
                                    })
                                }
                            }
                        ]}],
                    editable: "inline"
                }).data("kendoGrid");


            };
</script>


@*<footer style="text-align:center;">四資三甲1103137126 陳湘婷</footer>*@



</body>
</html>
