
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>UpdateOrder</title>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery-1.9.1.min.js"></script>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />

    <!--kendo-->
    <link href="~/kendo/styles/kendo.common.min.css" rel="stylesheet" />
    <link href="~/kendo/styles/kendo.flat.min.css" rel="stylesheet" />
    <script src="~/kendo/js/kendo.all.min.js"></script>

    <!--my-->
    <link href="~/Content/MyCSS.css" rel="stylesheet" />
    <script src="~/Scripts/MyJS_common.js"></script>
</head>
<body>
    <div>
        <div class="container">
            @*<h3>修改訂單</h3>*@
            <div class="tableTitle">
                <span style="padding:10px">修改訂單</span>
            </div>
            <form id="MyForm" data-role="validator" novalidate="novalidate">
                <table class="table table-bordered">
                    <tr>
                        <td><b>訂單編號</b></td>
                        <td colspan="3">
                            <spna id="OrderId" />
                        </td>
                    </tr>
                    <tr>
                        <td><span style="color:red">*</span><b>客戶名稱</b></td>
                        <td colspan="3">
                            <input id="CustName" name="CustName" placeholder="-Select-" class="required" required sign-combobox />
                            <span class="k-invalid-msg" data-for="CustName"></span>
                        </td>
                    </tr>
                    <tr>
                        <td><span style="color:red">*</span><b>負責員工名稱</b></td>
                        <td colspan="3">
                            <input id="EmpName" name="EmpName" placeholder="-Select-" class="required" required sign-combobox />
                            <span class="k-invalid-msg" data-for="EmpName"></span>
                        </td>
                    </tr>
                    <tr>
                        <td><span style="color:red">*</span><b>訂單日期</b></td>
                        <td>
                            <input type="text" id="OrderDate" name="OrderDate" class="required" required validationMessage="請輸入這個欄位" />
                            <span data-for='OrderDate' class='k-invalid-msg'></span>
                        </td>
                        <td><span style="color:red">*</span><b>需要日期</b></td>
                        <td>
                            <input type="text" id="RequireDate" name="RequireDate" class="required" required validationMessage="請輸入這個欄位" data-greaterdate-field="OrderDate" data-greaterdate-msg='必須大於訂購日期' />
                            <span data-for='RequireDate' class='k-invalid-msg'></span>
                        </td>
                    </tr>
                    <tr>
                        <td><b>出貨日期</b></td>
                        <td colspan="3">
                            <input id="ShipDate" type="date">
                        </td>
                    </tr>
                    <tr>
                        <td><span style="color:red">*</span><b>出貨公司名稱</b></td>
                        <td colspan="3">
                            <input id="ShipCompany" name="ShipCompany" placeholder="-Select-" class="required" required sign-combobox />
                            <span class="k-invalid-msg" data-for="ShipCompany"></span>
                        </td>
                    </tr>
                    <tr>
                        <td><b>運費</b></td>
                        <td colspan="3">
                            <input id="Freight" type="text" class="k-textbox" style="text-align: right" />
                        </td>
                    </tr>
                    <tr>
                        <td><span style="color:red">*</span><b>出貨國家</b></td>
                        <td>
                            <input id="ShipCountry" type="text" class="k-textbox required" name="ShipCountry" required validationMessage="請輸入這個欄位" />
                       </td>
                        <td><span style="color:red">*</span><b>出貨城市</b></td>
                        <td>
                            <input id="ShipCity" type="text" class="k-textbox required" name="ShipCity" required validationMessage="請輸入這個欄位" />
                        </td>
                    </tr>
                    <tr>
                        <td><b>出貨地區</b></td>
                        <td>
                            <input id="ShipRegion" class="k-textbox" />
                        </td>
                        <td><b>郵遞區號</b></td>
                        <td>
                            <input id="ShipPostalCode" class="k-textbox" />
                        </td>
                    </tr>
                    <tr>
                        <td><span style="color:red">*</span><b>出貨地址</b></td>
                        <td>
                            <input id="ShipAddress" type="text" class="k-textbox required" name="ShipAddress" required validationMessage="請輸入這個欄位" />
                        </td>
                        <td><span style="color:red">*</span><b>出貨說明</b></td>
                        <td>
                            <input id="ShipName" type="text" class="k-textbox required" name="ShipName" required validationMessage="請輸入這個欄位" />
                        </td>
                    </tr>
                    <tr>
                        <td><b>訂單金額總計</b></td>
                        <td colspan="3" align="right"><span id="allTotal">$ 0</span></td>
                    </tr>

                    <tr>
                        <td></td>
                        <td colspan="3">
                            <input id="SaveData" type="button" value="存檔">
                            <input id="DeleteOrder" type="button" value="刪除本筆訂單">
                            <input id="beforePage" type="button" value="回前一頁" />
                        </td>
                    </tr>
                </table>
            </form>

            <h3>訂單明細</h3>

            <div id="example">
                <span id="notification" style="display:none;"></span>
                <div id="grid"></div>
            </div>

            <div id="window"></div>
            <script type="text/x-kendo-template" id="windowTemplate">
                <div style="text-align:center; ">
                   <b> 確定要刪除該筆訂單嗎?</b> <br><br>
                    <button class="k-button" id="yesButton">Yes</button>
                    <button class="k-button" id="noButton"> No</button>
                </div>
            </script>


            <script id="errorTemplate" type="text/x-kendo-template">
                <div class="wrong-pass">
                    <h3>#= title #</h3>
                </div>
            </script>

       </div>

        <script>
            var windowTemplate = kendo.template($("#windowTemplate").html());

            $(document).ready(function () {
                $.ajax({
                    type: 'post',
                    url: '@Url.Action("UpdateOrder_Data")',
                    data: {
                        OrderID: '@ViewBag.UpdateOrderId'
                    }, success: function (result) {
                        document.getElementById("OrderId").innerHTML = result.OrderID;
                        $("#CustName").data("kendoComboBox").value(result.CustomerID);
                        $("#EmpName").data("kendoComboBox").value(result.EmployeeID);
                        document.getElementById("OrderDate").value = result.OrderDate;
                        document.getElementById("RequireDate").value = result.RequiredDate;
                        document.getElementById("ShipDate").value = result.ShippedDate;
                        $("#ShipCompany").data("kendoComboBox").value(result.ShipperID);
                        document.getElementById("Freight").value = result.Freight;
                        document.getElementById("ShipCountry").value = result.ShipCountry;
                        document.getElementById("ShipCity").value = result.ShipCity;
                        document.getElementById("ShipRegion").value = result.ShipRegion;
                        document.getElementById("ShipPostalCode").value = result.ShipPostalCode;
                        document.getElementById("ShipAddress").value = result.ShipAddress;
                        document.getElementById("ShipName").value = result.ShipName;

                        var data=[];
                        for (k = 0; k < result.ODitem.length; k++) {
                            $.ajax({
                                type:'get',
                                url:'@Url.Action("getProduct")',
                                async:false,
                                success:function(message){
                                    $.each(message,function(i,field){
                                        var Myfield=field.split(',');
                                        if(Myfield[0]==result.ODitem[k]){
                                            data.push({Product: {ProductID:Myfield[0],ProductName: Myfield[1]},UnitPrice:result.ODprice[k],Quantity:result.ODquantity[k],SubTotal:result.ODprice[k]*result.ODquantity[k]});
                                            return false;
                                        }
                                    });
                                },error:function(){
                                    console.log("error");
                                }
                            });
                        }
                        setOrderDetail(data);
                        ChangeSumTotal();
                        
                    }, error: function () {
                        alert("error");
                        document.getElementById("SaveData").disabled = true;
                        document.getElementById("DeleteOrder").disabled = true;
                    }
                });

                //ComboBox-CustName
                var custName = [];
                var array=@Html.Raw(Json.Encode(@ViewBag.CustName));
                for(var i=0;i<array.length;i++) {
                    custName.push({text:array[i].Text,value:array[i].Value});
                }

                $("#CustName").kendoComboBox({
                    dataTextField:"text",
                    dataValueField:"value",
                    dataSource:custName,
                    filter:"contains",
                    suggest:true,
                    index:0
                });

                //ComboBox-EmpName
                var empName=[];
                var array=@Html.Raw(Json.Encode(@ViewBag.EmpName));
                for(var i=0;i<array.length;i++){
                    empName.push({text:array[i].Text,value:array[i].Value});
                }

                $("#EmpName").kendoComboBox({
                    dataTextField:"text",
                    dataValueField:"value",
                    dataSource:empName,
                    filter:"contains",
                    suggest:true,
                    index:0
                });

                //ComboBox-ShipCompany
                var shipCompany=[];
                var array=@Html.Raw(Json.Encode(ViewBag.ShipCompany));
                for(var i=0;i<array.length;i++){
                    shipCompany.push({text:array[i].Text,value:array[i].Value});
                }

                $("#ShipCompany").kendoComboBox({
                    dataTextField:"text",
                    dataValueField:"value",
                    dataSource:shipCompany,
                    filter:"contains",
                    suggest:true,
                    index:0
                });

                //button
                $("#SaveData").kendoButton();
                $("#DeleteOrder").kendoButton();
                $("#beforePage").kendoButton();
            });
            //end document read
            
            document.getElementById("beforePage").onclick = function () {
                location.href = "/Order/QueryOrder";
            };

            document.getElementById("DeleteOrder").onclick = function () {
                var window = $("#window").kendoWindow({
                    modal: true,
                    title: "訊息",
                    visible: false, 
                    width: "300px",
                    height: "80px",
                }).data("kendoWindow");

                window.content(windowTemplate(""));
                window.center().open();

                $("#yesButton").click(function(){
                    $.ajax({
                        type: 'post',
                        url: '@Url.Action("QueryOrder_Delete")',
                        data: {
                            OrderID: document.getElementById("OrderId").innerHTML
                        }, success: function () {
                            //alert("刪除成功! 導回前一頁。");
                            location.href = "/Order/QueryOrder";
                        }, error: function () {
                            alert("Delete Error");
                        }
                    });
                    window.close();
                });

                $("#noButton").click(function(){
                    window.close();
                });
            };

            document.getElementById("SaveData").onclick = function () {
                var validator = $("#MyForm").data("kendoValidator");
                if (validator.validate()) {
                    saveData();
                }
            };

            function saveData() {   
                var ODitem = [], ODprice = [], ODquantity = [];
            
                //可抓所有tr
                var theGrid = $("#grid").data("kendoGrid");
                var tr = $("#grid tbody").find('tr').each(function () {
                    var model =  theGrid.dataItem(this);
                    kendo.bind(this,model);
                });
     
                for(var i=0;i<tr.length;i++)
                {
                    if(tr[i].children[0].innerText!="-Select-")
                    {
                        $.ajax({
                            type:'post',
                            url:'@Url.Action("getProductID")',
                            async:false,
                            data:{
                                productName:tr[i].children[0].innerText
                            },success:function(productId){
                                ODitem.push(productId);
                                ODprice.push(tr[i].children[1].innerText);
                                ODquantity.push(tr[i].children[2].innerText);
                            },error:function(){
                                console.log("error");
                            }
                        });
                    }
                }

                //save
                $.ajax({
                    type: 'post',
                    url: '@Url.Action("UpdateOrder_Save")',
                    data: {
                        OrderID: $('#OrderId').text(),
                        CustomerID:  $("#CustName").data("kendoComboBox").value(),
                        EmployeeID: $("#EmpName").data("kendoComboBox").value(),
                        OrderDate: $('#OrderDate').val(),
                        RequiredDate: $('#RequireDate').val(),
                        ShippedDate: $('#ShipDate').val(),
                        ShipperID: $("#ShipCompany").data("kendoComboBox").value(),
                        Freight: $('#Freight').val(),
                        ShipCountry: $('#ShipCountry').val(),
                        ShipCity: $('#ShipCity').val(),
                        ShipRegion: $('#ShipRegion').val(),
                        ShipPostalCode: $('#ShipPostalCode').val(),
                        ShipAddress: $('#ShipAddress').val(),
                        ShipName: $('#ShipName').val(),
                        ODitem: ODitem,
                        ODprice: ODprice,
                        ODquantity: ODquantity

                    }, success: function () {
                        showNotification("Update Success");
                    }, error: function () { alert("Error"); }
                });
            }
        </script>

    </div>
</body>
</html>
