
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>UpdateOrder</title>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery-1.9.1.min.js"></script>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />

    <!--kendo-->
    <link href="~/kendo/styles/kendo.common.min.css" rel="stylesheet" />
    <link href="~/kendo/styles/kendo.flat.min.css" rel="stylesheet" />

    <script src="~/kendo/js/kendo.all.min.js"></script>
    <style>
        span.k-widget.k-tooltip-validation {
            display: inline-block;
            width: 160px;
            text-align: left;
            border: 0;
            padding: 0;
            margin: 0;
            background: none;
            box-shadow: none;
            color: red;
            font-size: 10px;
        }

        .k-tooltip-validation .k-warning {
            display: none;
        }

        /*notification css*/
        .demo-section p {
            margin: 3px 0 20px;
            line-height: 50px;
        }

        .demo-section .k-button {
            width: 250px;
        }

        .k-notification {
            border: 0;
        }



        /* Error template */
        .k-notification-error.k-group {
            background: rgba(100%,0%,0%,.7);
            color: #ffffff;
        }

        .wrong-pass {
            width: 200px;
            height: 60px;
        }

            .wrong-pass h3 {
                font-size: 1.5em;
                padding: 10px 20px 0px 20px;
            }
        /* end notification css*/
    </style>
</head>
<body>
    <div>
        <div class="container">
            @*<h3>修改訂單</h3>*@
            <div style="background-color:black;color:white;font-size:32px;margin-top:20px;border-radius:10px 10px 0px 0px;">
                <span style="padding:10px">修改訂單</span>
            </div>
            <form id="MyForm" data-role="validator" novalidate="novalidate">
                <table class="table table-bordered">
                    <tr>
                        <td><b>訂單編號</b></td>
                        <td colspan="3">
                            <spna id="OrderId" />
                            @*@Html.TextBox("OrderId",null,new { disabled = "true" })*@
                        </td>
                    </tr>
                    <tr>
                        <td><span style="color:red">*</span><b>客戶名稱</b></td>
                        <td colspan="3">
                            <input id="CustName" name="CustName" placeholder="-Select-" class="required" required sign-combobox />
                            <span class="k-invalid-msg" data-for="CustName"></span>
                            @*@Html.DropDownList("CustName", (List<SelectListItem>)ViewBag.CustName, new { @class = "required" })*@
                        </td>
                    </tr>
                    <tr>
                        <td><span style="color:red">*</span><b>負責員工名稱</b></td>
                        <td colspan="3">
                            <input id="EmpName" name="EmpName" placeholder="-Select-" class="required" required sign-combobox />
                            <span class="k-invalid-msg" data-for="EmpName"></span>
                            @*@Html.DropDownList("EmpName", (List<SelectListItem>)ViewBag.EmpName, new { @class = "required" })*@
                        </td>
                    </tr>
                    <tr>
                        <td><span style="color:red">*</span><b>訂單日期</b></td>
                        <td>
                            <input type="text" id="OrderDate" name="OrderDate" class="required" required validationMessage="請輸入這個欄位" />
                            <span data-for='OrderDate' class='k-invalid-msg'></span>
                            @*<input id="OrderDate" type="date"  class="required">*@
                        </td>
                        <td><span style="color:red">*</span><b>需要日期</b></td>
                        <td>
                            <input type="text" id="RequireDate" name="RequireDate" class="required" required validationMessage="請輸入這個欄位" data-greaterdate-field="OrderDate" data-greaterdate-msg='必須大於訂購日期' />
                            <span data-for='RequireDate' class='k-invalid-msg'></span>
                            @*<input id="RequireDate" type="date"  class="required">*@
                        </td>
                    </tr>
                    <tr>
                        <td><b>出貨日期</b></td>
                        <td colspan="3">
                            <input id="ShipDate" type="date">
                            @*@Html.TextBoxFor(model => model.OrderDate, new { @type = "date" })*@
                        </td>
                    </tr>
                    <tr>
                        <td><span style="color:red">*</span><b>出貨公司名稱</b></td>
                        <td colspan="3">
                            <input id="ShipCompany" name="ShipCompany" placeholder="-Select-" class="required" required sign-combobox />
                            <span class="k-invalid-msg" data-for="ShipCompany"></span>
                            @*@Html.DropDownList("ShipCompany", (List<SelectListItem>)ViewBag.ShipCompany,new { @class="required"})*@
                        </td>
                    </tr>
                    <tr>
                        <td><b>運費</b></td>
                        <td colspan="3">
                            <input id="Freight" type="text" class="k-textbox" style="text-align: right" />
                            @*<input id="Freight" type="text" style="text-align: right" />*@
                        </td>
                    </tr>
                    <tr>
                        <td><span style="color:red">*</span><b>出貨國家</b></td>
                        <td>
                            <input id="ShipCountry" type="text" class="k-textbox required" name="ShipCountry" required validationMessage="請輸入這個欄位" />
                            @*@Html.TextBox("ShipCountry",null,new { @class="required"})*@
                        </td>
                        <td><span style="color:red">*</span><b>出貨城市</b></td>
                        <td>
                            <input id="ShipCity" type="text" class="k-textbox required" name="ShipCity" required validationMessage="請輸入這個欄位" />
                            @*@Html.TextBox("ShipCity",null,new { @class="required"})*@
                        </td>
                    </tr>
                    <tr>
                        <td><b>出貨地區</b></td>
                        <td>
                            <input id="ShipRegion" class="k-textbox" />
                            @*@Html.TextBox("ShipRegion")*@
                        </td>
                        <td><b>郵遞區號</b></td>
                        <td>
                            <input id="ShipPostalCode" class="k-textbox" />
                            @*@Html.TextBox("ShipPostalCode")*@
                        </td>
                    </tr>
                    <tr>
                        <td><span style="color:red">*</span><b>出貨地址</b></td>
                        <td>
                            <input id="ShipAddress" type="text" class="k-textbox required" name="ShipAddress" required validationMessage="請輸入這個欄位" />
                            @*@Html.TextBox("ShipAddress",null,new { @class="required"})*@
                        </td>
                        <td><span style="color:red">*</span><b>出貨說明</b></td>
                        <td>
                            <input id="ShipName" type="text" class="k-textbox required" name="ShipName" required validationMessage="請輸入這個欄位" />
                            @*@Html.TextBox("ShipName",null,new { @class="required"})*@
                        </td>
                    </tr>
                    <tr>
                        <td><b>訂單金額總計</b></td>
                        <td colspan="3" align="right"><span id="allTotal">$ 0</span></td>
                    </tr>

                    <tr>
                        <td></td>
                        <td colspan="3">
                            <input id="SaveData" type="button" value="存檔">
                            <input id="DeleteOrder" type="button" value="刪除本筆訂單">
                            <input id="beforePage" type="button" value="回前一頁" />
                        </td>

                    </tr>
                </table>
            </form>

            <h3>訂單明細</h3>

            <div id="example">
                <span id="notification" style="display:none;"></span>
                <div id="grid"></div>
            </div>
            <br><br><br><br><br><br>

            <script id="errorTemplate" type="text/x-kendo-template">
                <div class="wrong-pass">
                    <h3>#= title #</h3>
                </div>
            </script>
</div>

        <script>
            var getProductArray = [];
            // $(document).ready(function () {
            $.get('@Url.Action("getProduct")', function (result) {
                $.each(result, function (i, field) {
                    getProductArray.push(field);
                });
            });
            // });
            $(document).ready(function () {
                //Date Validator
                $(function () {
                    var container = $("#MyForm");
                    kendo.init(container);
                    container.kendoValidator({
                        rules: {
                            greaterdate: function (input) {
                                if (input.is("[data-greaterdate-msg]")&& input.val()!="") {                                
                                    console.log(input.data("greaterdateField"));
                                    var date = kendo.parseDate(input.val()),
                                        otherDate = kendo.parseDate($("[name='" + input.data("greaterdateField") + "']").val());
                                    return otherDate == null || otherDate.getTime() < date.getTime();
                                }
                                return true;
                            },
                            vaildateCombobox:function(input){
                                if(input.is("[sign-combobox]"))
                                {
                                    if(input.data("kendoComboBox").selectedIndex==0)
                                    {
                                        return false;
                                    }
                                }
                                return true;
                            }
                        },
                        messages:{
                            vaildateCombobox:"請選擇這個欄位"
                        }
                    });
                });


                //-----
                $.ajax({
                    type: 'post',
                    url: '@Url.Action("UpdateOrder_Data")',
                    data: {
                        OrderID: '@ViewBag.UpdateOrderId'
                    }, success: function (result) {
                        document.getElementById("OrderId").innerHTML = result.OrderID;
                        $("#CustName").data("kendoComboBox").value(result.CustomerID);
                        $("#EmpName").data("kendoComboBox").value(result.EmployeeID);
                        document.getElementById("OrderDate").value = replaceDate(result.OrderDate);
                        document.getElementById("RequireDate").value = replaceDate(result.RequiredDate);
                        document.getElementById("ShipDate").value = replaceDate(result.ShippedDate);
                        $("#ShipCompany").data("kendoComboBox").value(result.ShipperID);
                        document.getElementById("Freight").value = result.Freight;

                        document.getElementById("ShipCountry").value = result.ShipCountry;
                        document.getElementById("ShipCity").value = result.ShipCity;
                        document.getElementById("ShipRegion").value = result.ShipRegion;
                        document.getElementById("ShipPostalCode").value = result.ShipPostalCode;
                        document.getElementById("ShipAddress").value = result.ShipAddress;
                        document.getElementById("ShipName").value = result.ShipName;

                        console.log(result);
                          
                        //--------
                        var data=[];
                        for (k = 0; k < result.ODitem.length; k++) {
                            $.ajax({
                                type:'get',
                                url:'@Url.Action("getProduct")',
                                async:false,
                                success:function(message){
                                    $.each(message,function(i,field){
                                        var Myfield=field.split(',');
                                        if(Myfield[0]==result.ODitem[k]){
                                            data.push({Product: {ProductID:Myfield[0],ProductName: Myfield[1]},UnitPrice:result.ODprice[k],Quantity:result.ODquantity[k],SubTotal:result.ODprice[k]*result.ODquantity[k]});
                                            return false;
                                        }
                                    });
                                },error:function(){
                                    console.log("error");
                                }
                            });
                        }
                        
                        setOrderDetail(data);
                        ChangeSumTotal();
  
                    }, error: function () {
                        alert("error");
                        document.getElementById("SaveData").disabled = true;
                        document.getElementById("DeleteOrder").disabled = true;
                    }
                });


                //ComboBox-CustName
                var custName = [];
                var array=@Html.Raw(Json.Encode(@ViewBag.CustName));
                for(var i=0;i<array.length;i++) {
                    custName.push({text:array[i].Text,value:array[i].Value});
                }

                $("#CustName").kendoComboBox({
                    dataTextField:"text",
                    dataValueField:"value",
                    dataSource:custName,
                    filter:"contains",
                    suggest:true,
                    index:0
                });

                //ComboBox-EmpName
                var empName=[];
                var array=@Html.Raw(Json.Encode(@ViewBag.EmpName));
                for(var i=0;i<array.length;i++){
                    empName.push({text:array[i].Text,value:array[i].Value});
                }

                $("#EmpName").kendoComboBox({
                    dataTextField:"text",
                    dataValueField:"value",
                    dataSource:empName,
                    filter:"contains",
                    suggest:true,
                    index:0
                });

                //ComboBox-ShipCompany
                var shipCompany=[];
                var array=@Html.Raw(Json.Encode(ViewBag.ShipCompany));
                for(var i=0;i<array.length;i++){
                    shipCompany.push({text:array[i].Text,value:array[i].Value});
                }

                $("#ShipCompany").kendoComboBox({
                    dataTextField:"text",
                    dataValueField:"value",
                    dataSource:shipCompany,
                    filter:"contains",
                    suggest:true,
                    index:0
                });

                //DataPicker
                $("#OrderDate").kendoDatePicker({
                    format:"yyyy/MM/dd",
                    animation: {
                        close: {
                            effects: "fadeOut zoom:out",
                            duration: 300
                        },
                        open: {
                            effects: "fadeIn zoom:in",
                            duration: 300
                        }
                    }
                });
                $("#RequireDate").kendoDatePicker({
                    format:"yyyy/MM/dd",
                    animation: {
                        close: {
                            effects: "fadeOut zoom:out",
                            duration: 300
                        },
                        open: {
                            effects: "fadeIn zoom:in",
                            duration: 300
                        }
                    }
                });
                $("#ShipDate").kendoDatePicker({
                    format:"yyyy/MM/dd",
                    animation: {
                        close: {
                            effects: "fadeOut zoom:out",
                            duration: 300
                        },
                        open: {
                            effects: "fadeIn zoom:in",
                            duration: 300
                        }
                    }
                });


                //button
                $("#SaveData").kendoButton();
                $("#DeleteOrder").kendoButton();
                $("#beforePage").kendoButton();



            });
            //end document read
            

            function setOrderDetail(data)
            {
                var dataSource = new kendo.data.DataSource({
                    data:data,
                    schema: {
                        model: {
                            id: "ProductID",
                            fields: {
                                Product: { defaultValue: { ProductID: "0", ProductName: "-Select-"} },
                                UnitPrice: { type: "number"/*, validation: { required: true, min: 1}*/ },
                                Quantity:{ type: "number"/*, validation: { required: true, min: 1}*/ },
                                SubTotal:{ type: "number" /*editable: false*//*, validation: { required: true, min: 1}*/ },
                            }
                        }
                    }
                });
                ///*name:"destroy"*//*,click:aa*/
                //<span class='k-icon k-i-close' id='temp' style='float: right;' onclick='ChangeSubTotal()'></span>"
                $("#grid").kendoGrid({
                    dataSource: dataSource,
                    toolbar: ["create"],
                    columns: [
                        { field:"Product",title:"商品",  editor: productDropDownEditor, template: "#=Product.ProductName#" },
                        { field: "UnitPrice", title: "單價",editor: SubTotalChange_Editor},
                         { field:"Quantity",title:"數量" ,editor: SubTotalChange_Editor},
                        { field: "SubTotal", title:"小計", format: "{0:n0}", width: "130px" },
                        { command: [{name:"Delete",text:"刪除",click:function(e){
                                e.preventDefault();
                                var tr = $(e.target).closest("tr");
                                var trData = this.dataItem(tr);

                                var dataSource = $("#grid").data("kendoGrid").dataSource;
                                dataSource.remove(trData);
                                dataSource.sync();
                                ChangeSumTotal();
                        }}], title: "", width: "150px" }],
                    editable: true,
                    edit: function(e) {
                        model = e.model; 
                    }
                });
                console.log("1");
            }

            
            //---same----
            function SubTotalChange_Editor(container, options){
                $('<input data-bind="value:' + options.field + '"/>')
                 .appendTo(container).kendoNumericTextBox({
                     autoBind: true,
                     change:ChangeSubTotal
                 });
            }


            function productDropDownEditor(container, options) {
                var Product=[];
                Product.push({ProductID:0,ProductName: "-Select-"});
                $.ajax({
                    type:'get',
                    url:'@Url.Action("getProduct")',
                    async:false,
                    success:function(result){
                        $.each(result,function(i,field){
                            var Myfield=field.split(',');
                            Product.push({ProductID: Myfield[0],ProductName: Myfield[1]});
                        });
                        console.log("ok");
                
                    },error:function(){
                        console.log(error);
                    }
                });

                $('<input required data-text-field="ProductName" data-value-field="ProductID" data-bind="value:' + options.field + '"/>')
                .appendTo(container)
                .kendoDropDownList({
                    autoBind: true,
                    dataTextField: "ProductName",
                    dataValueField: "ProductID",
                    dataSource:Product,
                    change:onChange_productDropDown
                });
            }

            
            function onChange_productDropDown(e){
                console.log(e.sender.text()+" "+e.sender.value());
            
                $.ajax({
                    type: 'post',
                    url: '@Url.Action("getProductPrice")',
                    data: {
                        index: e.sender.value()
                    }, success: function (result) {
                        model.set("UnitPrice",result);
                        ChangeSubTotal();
                    }, error: function () {
                        alert("error");
                    }
                });
            }

            function ChangeSubTotal()
            { 
                var subtotal=model.UnitPrice*model.Quantity;
                model.set("SubTotal",subtotal);
                ChangeSumTotal();
            }
            // ----end same-----

            function ChangeSumTotal()
            {
                //可抓所有tr
                var theGrid = $("#grid").data("kendoGrid");
                var tr = $("#grid tbody").find('tr').each(function () {
                    var model =  theGrid.dataItem(this);
                    kendo.bind(this,model);
                });

                var sum=0;
                for(var i=0;i<tr.length;i++)
                {
                    sum+=parseInt(replaceAll(tr[i].children[3].innerText));
                }
                document.getElementById("allTotal").innerHTML = "$ " +formatNumber(sum);
            }


            document.getElementById("beforePage").onclick = function () {
                location.href = "/Order/QueryOrder";
            };


            function replaceAll(n) {
                while (n.indexOf(",") != -1) {
                    n = n.replace(",", "");
                }
                return n;
            }

            function formatNumber(n) {
                n += "";
                var arr = n.split(".");
                var re = /(\d{1,3})(?=(\d{3})+$)/g;
                return arr[0].replace(re, "$1,") + (arr.length == 2 ? "." + arr[1] : "");
            }

            function replaceDate(date) {
                if (date != null) {
                    var array = date.split("/");

                    if (array[1].length < 2) array[1] = "0" + array[1];
                    if (array[2].length < 2) array[2] = "0" + array[2];

                    return array[0] + "-" + array[1] + "-" + array[2];
                } else {
                    return null;
                }
            }


            document.getElementById("DeleteOrder").onclick = function () {

                var dialog = confirm("確定要刪除該筆訂單嗎?");
                if (dialog == true) {
                    $.ajax({
                        type: 'post',
                        url: '@Url.Action("QueryOrder_Delete")',
                        data: {
                            OrderID: document.getElementById("OrderId").innerHTML
                        }, success: function () {
                            alert("刪除成功! 導回前一頁。");
                            location.href = "/Order/QueryOrder";
                        }, error: function () {
                            alert("Delete Error");
                        }
                    });
                }

            };

            document.getElementById("SaveData").onclick = function () {

                var validator = $("#MyForm").data("kendoValidator");
                if (validator.validate()) {
                    saveData();
                }
            };

            //----  notification          
            var notification = $("#notification").kendoNotification({
                stacking: "top",
                templates: [ {
                    type: "error",
                    template: $("#errorTemplate").html()
                }]
            }).data("kendoNotification");
    
            $(document).one("kendo:pageUnload", function(){ if (notification) { notification.hide(); } });

            function saveData() {   
                var ODitem = [], ODprice = [], ODquantity = [];
            
                //可抓所有tr
                var theGrid = $("#grid").data("kendoGrid");
                var tr = $("#grid tbody").find('tr').each(function () {
                    var model =  theGrid.dataItem(this);
                    kendo.bind(this,model);
                });
     
                for(var i=0;i<tr.length;i++)
                {
                    if(tr[i].children[0].innerText!="-Select-")
                    {
                        $.ajax({
                            type:'post',
                            url:'@Url.Action("getProductID")',
                            async:false,
                            data:{
                                productName:tr[i].children[0].innerText
                            },success:function(productId){
                                ODitem.push(productId);
                                ODprice.push(tr[i].children[1].innerText);
                                ODquantity.push(tr[i].children[2].innerText);
                            },error:function(){
                                console.log("error");
                            }
                        });
                    }
                }

                //save
                $.ajax({
                    type: 'post',
                    url: '@Url.Action("UpdateOrder_Save")',
                    data: {
                        OrderID: $('#OrderId').text(),
                        CustomerID:  $("#CustName").data("kendoComboBox").value(),
                        //  CustomerID: $('#CustName option:selected').val(),
                        EmployeeID: $("#EmpName").data("kendoComboBox").value(),
                        // EmployeeID: $('#EmpName option:selected').val(),
                        OrderDate: $('#OrderDate').val(),
                        RequiredDate: $('#RequireDate').val(),
                        ShippedDate: $('#ShipDate').val(),
                        ShipperID: $("#ShipCompany").data("kendoComboBox").value(),
                        //  ShipperID: $('#ShipCompany option:selected').val(),
                        Freight: $('#Freight').val(),
                        ShipCountry: $('#ShipCountry').val(),
                        ShipCity: $('#ShipCity').val(),
                        ShipRegion: $('#ShipRegion').val(),
                        ShipPostalCode: $('#ShipPostalCode').val(),
                        ShipAddress: $('#ShipAddress').val(),
                        ShipName: $('#ShipName').val(),
                        ODitem: ODitem,
                        ODprice: ODprice,
                        ODquantity: ODquantity

                    }, success: function () {

                        notification.show({
                            title: "Update Success"
                        }, "error");
                        // alert("success");

                    }, error: function () { alert("Error"); }
                });
            }

        </script>

    </div>
</body>
</html>
